@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #313131;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #49ad09;
  padding: 1.125rem 2.8125rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
}

.subtitle {
  text-align: center;
  color: #514040;
  font-weight: 500;
}

.title {
  text-align: center;
  font-size: 2.8125rem;
  font-weight: 500;
  color: #313131;
  text-transform: capitalize;
}

.swiper-button-prev {
  background: url("../img/swipericonprev.svg") 0 0 no-repeat;
  width: 1.1875rem;
  height: 1.25rem;
  padding: 0.625rem;
  background-color: #fff;
}

.swiper-button-next {
  background: url("../img/swipericonnext.svg") 0 0 no-repeat;
  width: 1.1875rem;
  height: 1.25rem;
  padding: 0.625rem;
}

.swiper-buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header._header-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.712);
}

.header._header-scroll .header__container {
  min-height: 3.75rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  color: #fff;
}

.header._header-scroll .menu__link::after {
  content: "";
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 6.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__logo {
  font-size: 1.5625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.125rem;
}

.menu__link {
  position: relative;
  font-weight: 500;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 50%;
  width: 0;
  background-color: #313131;
  height: 0.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.actions-header__button {
  position: relative;
  z-index: 2;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.625rem;
}

.footer__title {
  font-weight: 600;
}

.info-footer__logo {
  font-size: 1.5625rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 2.1875rem;
}

.info-footer__text {
  font-weight: 500;
  max-width: 14.75rem;
}

.info-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-footer__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.get-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.get-footer__input {
  max-width: 100%;
  border-radius: 4px;
  background: #f2f2f2;
  padding: 0.8125rem;
}

.get-footer__input:focus {
  background-color: #fff;
  outline: none;
}

.get-footer__input::-webkit-input-placeholder {
  color: #514040;
  font-weight: 500;
  font-size: 0.75rem;
}

.get-footer__input::-moz-placeholder {
  color: #514040;
  font-weight: 500;
  font-size: 0.75rem;
}

.get-footer__input:-ms-input-placeholder {
  color: #514040;
  font-weight: 500;
  font-size: 0.75rem;
}

.get-footer__input::-ms-input-placeholder {
  color: #514040;
  font-weight: 500;
  font-size: 0.75rem;
}

.get-footer__input::placeholder {
  color: #514040;
  font-weight: 500;
  font-size: 0.75rem;
}

.get-footer__button {
  background: #f2f2f2;
  height: 2.9375rem;
  border-radius: 4px;
  padding: 0.625rem;
  -webkit-transform: translate(-5px, 0px);
      -ms-transform: translate(-5px, 0px);
          transform: translate(-5px, 0px);
}

.form__error {
  position: absolute;
  bottom: -1.25rem;
  left: 0;
  color: red;
}

._form-error input::-webkit-input-placeholder {
  color: red;
}

._form-error input::-moz-placeholder {
  color: red;
}

._form-error input:-ms-input-placeholder {
  color: red;
}

._form-error input::-ms-input-placeholder {
  color: red;
}

._form-error input::placeholder {
  color: red;
}

.page__main {
  overflow: hidden;
}

._watcher-view.main {
  opacity: 1;
}

._watcher-view.brends {
  opacity: 1;
}

._watcher-view.what {
  opacity: 1;
}

._watcher-view.portfolio {
  opacity: 1;
}

._watcher-view.reviews {
  opacity: 1;
}

._watcher-view.pricing {
  opacity: 1;
}

._watcher-view.contact {
  opacity: 1;
}

.main {
  overflow: hidden;
  background: #f2f2f2;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.no-webp .main::before{
  background: url("../img/main/images-left.png") 0 0/100% no-repeat; }

.main::before {
  content: "";
  position: absolute;
  width: 20.4375rem;
  max-width: 100%;
  height: 35rem;
  top: 20%;
  left: 0;
}

.no-webp .main::after{
  background: url("../img/main/images-right.png") 0 0/100% no-repeat; }

.main::after {
  content: "";
  position: absolute;
  width: 20.4375rem;
  height: 35rem;
  top: 20%;
  right: 0;
}

.main__decor {
  position: absolute;
  top: 1px;
  right: 0;
  pointer-events: none;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  background: rgba(242, 242, 242, 0.61);
  width: 100vw;
  height: 100vh;
}

.main__title {
  font-weight: 800;
  max-width: 37.5rem;
  line-height: 1.0256410256em;
  text-align: center;
  letter-spacing: -0.05em;
}

.main__title span {
  color: #49ad09;
}

.main__text {
  text-align: center;
  max-width: 30.75rem;
  color: #514040;
  line-height: 1.47;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.3125rem;
}

.main__watch {
  text-decoration: underline;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8125rem;
}

.main__watch::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #514040;
  border-bottom: 5px solid transparent;
}

.brends {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  position: relative;
}

.brends__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.no-webp .brends__decor{
  background: url("../img/brends/decor.png") -10px -200px/100% no-repeat; }

.brends__decor {
  width: 16.875rem;
  height: 32.375rem;
  position: absolute;
  top: -5rem;
  left: 0;
}

.what {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  position: relative;
}

.what__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what__decor {
  position: absolute;
  top: 30%;
  right: 0;
}

.what__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.what__column {
  border-radius: 5px;
  border: 1px solid #ededed;
  padding: 2.5rem 1.875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-what__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.item-what__text {
  margin-bottom: 1.875rem;
  max-width: 20.25rem;
  line-height: 1.47;
}

.item-what__link {
  font-size: 1rem;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3.0625rem;
     -moz-column-gap: 3.0625rem;
          column-gap: 3.0625rem;
  row-gap: 4.375rem;
  justify-items: center;
}

.portfolio__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-portfolio__img img {
  max-width: 100%;
}

.item-portfolio__img:not(:last-child) {
  margin-bottom: 1.5rem;
}

.item-portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
}

.item-portfolio__title {
  font-weight: 500;
}

.item-portfolio__link {
  color: #49ad09;
  font-weight: 500;
}

.reviews {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.reviews__slider {
  background-color: #646464;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.item-reviews {
  padding: 1.25rem 1.5rem 1.25rem 2rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 5px;
}

.item-reviews__label {
  color: #32435c;
  font-size: 0.875rem;
  font-weight: 600;
}

.item-reviews__text {
  color: #6a635b;
  line-height: 187.5%;
  font-size: 1rem;
  letter-spacing: -0.01em;
  max-width: 20.25rem;
}

.item-reviews__author {
  color: #32435c;
  font-size: 0.875rem;
  font-weight: 600;
}

.pricing {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.pricing__row {
  --columns: 3;
  --gap: 42px;
  --gap-columns: calc(var(--columns) - 1);
  --gap-count: calc(var(--gap) / (--columns) * var(--gap-columns));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.625rem;
}

.pricing__column {
  -webkit-box-flex: calc(100% / var(--columns) - var(--gap-count));
      -ms-flex: calc(100% / var(--columns) - var(--gap-count));
          flex: calc(100% / var(--columns) - var(--gap-count));
}

.item-pricing {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  padding: 3.25rem 1.25rem;
}

.item-pricing_recom {
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
          box-shadow: 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
  border: none;
}

.item-pricing__title {
  font-weight: 500;
  margin-bottom: 1.3125rem;
}

.item-pricing__cost {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.item-pricing__list {
  margin-bottom: 3.0625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-pricing__list_recom {
  font-weight: 500;
}

.item-pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-pricing__item:not(:last-child) {
  margin-bottom: 1rem;
}

.item-pricing__item::before {
  content: "";
  background: url("../img/check.svg") 0 0 no-repeat;
  width: 0.75rem;
  height: 0.75rem;
  -ms-flex-preferred-size: 16px;
      flex-basis: 16px;
}

.item-pricing__button {
  display: inline-block;
  color: #514040;
  padding: 1.125rem 3.25rem;
  border-radius: 5px;
  border: 1px solid #514040;
  -webkit-box-shadow: 0px 1.85185px 3.14815px 0px rgba(49, 49, 49, 0.02), 0px 8.14815px 6.51852px 0px rgba(49, 49, 49, 0.04), 0px 20px 13px 0px rgba(49, 49, 49, 0.05), 0px 38.51852px 25.48148px 0px rgba(49, 49, 49, 0.06), 0px 64.81481px 46.85185px 0px rgba(49, 49, 49, 0.08), 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
          box-shadow: 0px 1.85185px 3.14815px 0px rgba(49, 49, 49, 0.02), 0px 8.14815px 6.51852px 0px rgba(49, 49, 49, 0.04), 0px 20px 13px 0px rgba(49, 49, 49, 0.05), 0px 38.51852px 25.48148px 0px rgba(49, 49, 49, 0.06), 0px 64.81481px 46.85185px 0px rgba(49, 49, 49, 0.08), 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-pricing__button_recom {
  border-radius: 5px;
  background: #49ad09;
  -webkit-box-shadow: 0px 1.85185px 3.14815px 0px rgba(49, 49, 49, 0.02), 0px 8.14815px 6.51852px 0px rgba(49, 49, 49, 0.04), 0px 20px 13px 0px rgba(49, 49, 49, 0.05), 0px 38.51852px 25.48148px 0px rgba(49, 49, 49, 0.06), 0px 64.81481px 46.85185px 0px rgba(49, 49, 49, 0.08), 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
          box-shadow: 0px 1.85185px 3.14815px 0px rgba(49, 49, 49, 0.02), 0px 8.14815px 6.51852px 0px rgba(49, 49, 49, 0.04), 0px 20px 13px 0px rgba(49, 49, 49, 0.05), 0px 38.51852px 25.48148px 0px rgba(49, 49, 49, 0.06), 0px 64.81481px 46.85185px 0px rgba(49, 49, 49, 0.08), 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
  color: #fff;
  border: none;
}

.contact {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  max-width: 26.5625rem;
  margin-bottom: 3.3125rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main {
    min-height: 100vh;
    width: 100%;
  }

  .reviews__slider {
    padding: 0.8125rem;
  }
}

@media (min-width: 61.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.125rem;
  }
}

@media (min-width: 75em) {
  .subtitle {
    margin-bottom: 1.875rem;
  }

  .title {
    margin-bottom: 5rem;
  }

  .footer__title {
    font-size: 1.25rem;
  }

  .footer__title {
    margin-bottom: 2.4375rem;
  }

  .info-footer__text {
    margin-bottom: 4rem;
  }

  .footer-list__item:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .page__main {
    margin-bottom: 5rem;
  }

  .page__brends {
    margin-bottom: 13.4375rem;
  }

  .page__what {
    margin-bottom: 8.75rem;
  }

  .page__portfolio {
    margin-bottom: 8.75rem;
  }

  .page__reviews {
    margin-bottom: 8.75rem;
  }

  .page__pricing {
    margin-bottom: 8.75rem;
  }

  .page__contact {
    margin-bottom: 8.75rem;
  }

  .main__container {
    padding-top: 17.25rem;
  }

  .main__title {
    font-size: 4.875rem;
  }

  .main__title {
    margin-bottom: 2.25rem;
  }

  .main__text {
    margin-bottom: 3.9375rem;
  }

  .brends__container {
    -webkit-column-gap: 8.125rem;
       -moz-column-gap: 8.125rem;
            column-gap: 8.125rem;
  }

  .what__row {
    gap: 2.5rem;
  }

  .what__row {
    margin-bottom: 5rem;
  }

  .portfolio__row {
    margin-bottom: 5rem;
  }

  .item-portfolio__title {
    font-size: 1.75rem;
  }

  .item-reviews__label {
    margin-bottom: 1.25rem;
  }

  .item-reviews__text {
    margin-bottom: 1.25rem;
  }

  .item-reviews__mark {
    margin-bottom: 1.25rem;
  }

  .item-pricing__title {
    font-size: 1.875rem;
  }

  .item-pricing__cost {
    font-size: 3.75rem;
  }

  .item-pricing__item {
    gap: 1rem;
  }
}

@media (max-width: 20em) {
  .subtitle {
    margin-bottom: 0.9375rem;
  }

  .title {
    margin-bottom: 1.25rem;
  }

  .footer__title {
    font-size: 1.125rem;
  }

  .footer__title {
    margin-bottom: 0.9375rem;
  }

  .info-footer__text {
    margin-bottom: 2rem;
  }

  .footer-list__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .page__main {
    margin-bottom: 2.5rem;
  }

  .page__brends {
    margin-bottom: 7.1875rem;
  }

  .page__what {
    margin-bottom: 3.75rem;
  }

  .page__portfolio {
    margin-bottom: 3.75rem;
  }

  .page__reviews {
    margin-bottom: 3.75rem;
  }

  .page__pricing {
    margin-bottom: 3.75rem;
  }

  .page__contact {
    margin-bottom: 3.75rem;
  }

  .main__container {
    padding-top: 9.375rem;
  }

  .main__title {
    font-size: 3.125rem;
  }

  .main__title {
    margin-bottom: 0.9375rem;
  }

  .main__text {
    margin-bottom: 1.875rem;
  }

  .brends__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .what__row {
    gap: 0.9375rem;
  }

  .what__row {
    margin-bottom: 1.25rem;
  }

  .portfolio__row {
    margin-bottom: 1.5625rem;
  }

  .item-portfolio__title {
    font-size: 1.25rem;
  }

  .item-reviews__label {
    margin-bottom: 0.625rem;
  }

  .item-reviews__text {
    margin-bottom: 0.625rem;
  }

  .item-reviews__mark {
    margin-bottom: 0.625rem;
  }

  .item-pricing__title {
    font-size: 1.25rem;
  }

  .item-pricing__cost {
    font-size: 1.6875rem;
  }

  .item-pricing__item {
    gap: 0.3125rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    min-height: 3.75rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #32435c;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3.75rem;
    background-color: #fff;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    left: 0;
  }

  .menu__item {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .menu__link {
    font-size: 2rem;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 1.875rem;
  }

  .info-footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .brends__decor {
    display: none;
  }

  .what__decor {
    display: none;
  }

  .portfolio__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
    row-gap: 1.25rem;
  }

  .item-portfolio__img:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .what__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 31.25em) {
  .actions-header__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    font-size: 1.375rem;
  }

  .actions-header__button {
    padding: 0.75rem 1.4375rem;
  }

  .main__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.9375rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .subtitle {
      margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .subtitle {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .title {
      margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .title {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .footer__title {
      font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .footer__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3920454545rem  +  2.7272727273vw , 2.4375rem )) {
    .footer__title {
      margin-bottom: clamp( 0.9375rem , 0.3920454545rem  +  2.7272727273vw , 2.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3920454545rem  +  2.7272727273vw , 2.4375rem )) {
    .footer__title {
      margin-bottom: calc(0.9375rem + 1.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .info-footer__text {
      margin-bottom: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .info-footer__text {
      margin-bottom: calc(2rem + 2 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2159090909rem  +  2.0454545455vw , 1.75rem )) {
    .footer-list__item:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2159090909rem  +  2.0454545455vw , 1.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2159090909rem  +  2.0454545455vw , 1.75rem )) {
    .footer-list__item:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .page__main {
      margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .page__main {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 7.1875rem , 4.9147727273rem  +  11.3636363636vw , 13.4375rem )) {
    .page__brends {
      margin-bottom: clamp( 7.1875rem , 4.9147727273rem  +  11.3636363636vw , 13.4375rem );
    }
}

@supports not (margin-bottom: clamp( 7.1875rem , 4.9147727273rem  +  11.3636363636vw , 13.4375rem )) {
    .page__brends {
      margin-bottom: calc(7.1875rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__what {
      margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__what {
      margin-bottom: calc(3.75rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__portfolio {
      margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__portfolio {
      margin-bottom: calc(3.75rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__reviews {
      margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__reviews {
      margin-bottom: calc(3.75rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__pricing {
      margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__pricing {
      margin-bottom: calc(3.75rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__contact {
      margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 1.9318181818rem  +  9.0909090909vw , 8.75rem )) {
    .page__contact {
      margin-bottom: calc(3.75rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 9.375rem , 6.5113636364rem  +  14.3181818182vw , 17.25rem )) {
    .main__container {
      padding-top: clamp( 9.375rem , 6.5113636364rem  +  14.3181818182vw , 17.25rem );
    }
}

@supports not (padding-top: clamp( 9.375rem , 6.5113636364rem  +  14.3181818182vw , 17.25rem )) {
    .main__container {
      padding-top: calc(9.375rem + 7.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.125rem , 2.4886363636rem  +  3.1818181818vw , 4.875rem )) {
    .main__title {
      font-size: clamp( 3.125rem , 2.4886363636rem  +  3.1818181818vw , 4.875rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.4886363636rem  +  3.1818181818vw , 4.875rem )) {
    .main__title {
      font-size: calc(3.125rem + 1.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4602272727rem  +  2.3863636364vw , 2.25rem )) {
    .main__title {
      margin-bottom: clamp( 0.9375rem , 0.4602272727rem  +  2.3863636364vw , 2.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4602272727rem  +  2.3863636364vw , 2.25rem )) {
    .main__title {
      margin-bottom: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 3.9375rem )) {
    .main__text {
      margin-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 3.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 3.9375rem )) {
    .main__text {
      margin-bottom: calc(1.875rem + 2.0625 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem )) or (column-gap: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem ))) {
    .brends__container {
      -webkit-column-gap: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem );
         -moz-column-gap: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem );
              column-gap: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem )) or (column-gap: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem ))) {
    .brends__container {
      -webkit-column-gap: calc(1.25rem + 6.875 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.25rem + 6.875 * (100vw - 20rem) / 55);
              column-gap: calc(1.25rem + 6.875 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .what__row {
      gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .what__row {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .what__row {
      margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .what__row {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.3125rem  +  6.25vw , 5rem )) {
    .portfolio__row {
      margin-bottom: clamp( 1.5625rem , 0.3125rem  +  6.25vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.3125rem  +  6.25vw , 5rem )) {
    .portfolio__row {
      margin-bottom: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem )) {
    .item-portfolio__title {
      font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem )) {
    .item-portfolio__title {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .item-reviews__label {
      margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .item-reviews__label {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .item-reviews__text {
      margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .item-reviews__text {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .item-reviews__mark {
      margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .item-reviews__mark {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .item-pricing__title {
      font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .item-pricing__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.6875rem , 0.9375rem  +  3.75vw , 3.75rem )) {
    .item-pricing__cost {
      font-size: clamp( 1.6875rem , 0.9375rem  +  3.75vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.6875rem , 0.9375rem  +  3.75vw , 3.75rem )) {
    .item-pricing__cost {
      font-size: calc(1.6875rem + 2.0625 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.3125rem , 0.0625rem  +  1.25vw , 1rem )) {
    .item-pricing__item {
      gap: clamp( 0.3125rem , 0.0625rem  +  1.25vw , 1rem );
    }
}

@supports not (gap: clamp( 0.3125rem , 0.0625rem  +  1.25vw , 1rem )) {
    .item-pricing__item {
      gap: calc(0.3125rem + 0.6875 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #32435c;
  }

  .header__logo:hover {
    -webkit-transform: translate(0px, 2px);
        -ms-transform: translate(0px, 2px);
            transform: translate(0px, 2px);
  }

  .menu__link:hover::after {
    content: "";
    width: 100%;
    left: 0;
  }

  .info-footer__logo:hover {
    text-decoration: underline;
  }

  .info-footer__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .footer-list__link:hover {
    text-decoration: underline;
  }

  .main__watch:hover {
    text-decoration: none;
  }

  .what__column:hover {
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
            box-shadow: 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
    border: 1px solid #fff;
  }

  .item-what__link:hover {
    text-decoration: none;
    color: #49ad09;
  }

  .item-portfolio__link:hover {
    text-decoration: underline;
  }

  .item-pricing__button:hover {
    background-color: #514040;
    color: #fff;
  }
}

.webp .main::before{ background: url(../img/main/images-left.webp) 0 0/100% no-repeat; }

.webp .main::after{ background: url(../img/main/images-right.webp) 0 0/100% no-repeat; }

.webp .brends__decor{ background: url(../img/brends/decor.webp) -10px -200px/100% no-repeat; }